<!DOCTYPE html>
<html{{ html_attributes }}>
  <head>
    {% include [directory  ~ '/templates/critical-styles.html.twig', '@bookish_theme/critical-styles.html.twig'] %}
    <head-placeholder token="{{ placeholder_token }}">
    <link rel="alternate" type="application/rss+xml" title="RSS Feed" href="{{ url('<front>') }}feed.xml" />
    <title>{{ head_title|safe_join(' | ') }}</title>
    <css-placeholder token="{{ placeholder_token }}">
    <js-placeholder token="{{ placeholder_token }}">
  </head>
  <body{{ attributes }}>
    <a href="#main-content" id="skip-link" class="visually-hidden focusable">
      {{ 'Skip to main content'|t }}
    </a>
    {{ page_top }}
    {{ page }}
    {{ page_bottom }}
    <js-bottom-placeholder token="{{ placeholder_token }}">
  </body>
</html>
